<h1>ゲーム一覧ページです</h1>
<% @games.each do |game|%>
<%= link_to game_path(game) do %>
<div class="border">
  <%= attachment_image_tag game, :image, format: "jpeg", fallback: "game_icon.jpeg",size: "30x30"%>
  <p>名前：<%= game.name %></p>
  <p>説明：<%= game.introduction %></p>
</div>
<% end %>
<% end %>