<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="my-5">お問い合わせありがとうございます！！</h1>
      <h5 class="my-5 text-center">開発の参考にさせていただきます、<br><br>今後もよろしくお願い申し上げます！</h5>
    </div>
  </div>
</div>
