<div class="container">
  <div class="row">
    <!--サイドバー（ログインメンバーの情報）-->
    <%= render "public/members/sidebar",member: @member,playing_games: @playing_games%>
    <!--ログインメンバーがフォローしている人の投稿-->
    <div class="col-8 offset-4">
      <% unless current_member.follower_user.exists?%>
        <p class="text-center mt-3">フォローした人の投稿一覧です！気になる人をフォローしてみましょう！</p>
      <% end %>
      <%= render "public/posts/post_index", posts: @posts%>
    </div>
  </div>
</div>