<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <h3 class="my-5">ようこそ！Game Partyへ！！</h3>
      <h5>このWebアプリケーションはゲームを通じて他のユーザーと<br>
      コミュニケーションが取れるゲーム特化型SNSです。</h5>
      <div class="mx-auto">
　　　<%= image_tag "about.jpg", :size =>'500x280'%>
      </div>
      <h5 class="my-5">特定のゲームに関連づけられた投稿を行うことで募集を行ったり、<br>
      相互フォローのユーザーとダイレクトメッセージを行ったりできます。</h5>
      <h5>
        追加して欲しいゲームや気になることがあれば
        <%= link_to "こちら",new_contact_path %>
        までお願いします。
      </h5>
    </div>
  </div>
</div>